main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
}

.mainContainer {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    border: var(--border);
    width: 80%;
    height: 80%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}