
#mainContainer {
    text-align: center;
    color: var(--text-color);
    border-radius: 20px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-bottom: 5%;
   
}
#mainContainer > h1 {
    margin-bottom: 5%;
    margin-top: 5%;
}

main {
	width: 100%;
	height: 85%;
	border: var(--border);
    display: flex;
    justify-content: center;

}

#mainSection {
    display: flex;
    justify-content:space-around;
    width: 100%;
    align-content: center;
}

.box {
    width: 30%;
    height: 100%;
}

.box img {
    width: 80%;
}

.imgBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentContainer {
    text-align: left;
    border: var(--border);
    height: 90%;
    width: 100%;
    border-radius: 20px;
    padding: 5%;
}

@media only screen and (max-width: 1000px) {
    #mainSection {
        flex-direction: column;
        align-items: center;
    }

    .box  {
        width: 30%;
       align-items: left;
       align-items: center;
        
    }
    

    main {
        height: auto;
    }
}

/*
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin: 50px;
}

#mainContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainSection {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
    "one two three 4 5 6 7 8 9 10 11 12 13 14 15 16";
    gap: 20px;
}

.contentContainer {
    text-align: left;
    border: var(--border);
    height: 80%;
    border-radius: 20px;
    padding: 20px;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}
#three {
    grid-area: three;
}

.imgBox img {
    width: 80%;
}
*/