
	body{
		background-color: #FCCF92;
		color :  #000080;
		font-family: Arial, Helvetica, sans-serif;
	}
	header{
		text-align: center;
		background-color: #F69107;
	
	}
	
	section{
		padding-left: 20%
		
		
		
	
	}
	
	nav{
		width: 15%
		text-align: left;
		float: left;
		background-color: #F69107;
		
	}
	
	li{
		display: block;
		text-decoration: none;
	
	}
	
	a{
		text-decoration: none;
	
	}
	
	a:hover{
		background-color: #FCFCFC;
		
	
	}
	
	
	footer{
		text-align: center;
		background-color: #F69107;
	
	}
	p{ 
		line-height: 150%
		
	
	}
	h3 {
		background-color: #F69107;
	
	}