main {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 100px;
}
.mainBody {
    height: 70%;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.box {
    border-radius: 30px;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box input {
    width: 80%;
    height: 30px;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 20px;
    border: var(--border);
}

.one {
    border: var(--border);
}

.cardOne {
    margin-bottom: 2%;
}

.insurance-card {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    border: var(--border);

}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.card button {
    border: var(--border);
    border-radius: 20px;
    background-color: var(--background-color);
    color: white;
    height: 30px;
    width: 120px;
}

main > button {
    border: var(--border);
    background-color: var(--background-color);
    height: 30px;
    width: 120px;
    color: white;
    border-radius: 20px;
}