main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color)
}

.mainContainer {
    margin-top: 5%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 200px;
}

.box {
    border: var(--border);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    padding: 20px;
}

.inputBox  {
    margin-top: 10px !important;
    width: 90% !important;
    border: var(--border) !important;
    height: 10% !important;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 10px !important;
    border-radius: 20px !important;
}

.inputBox button {
    width: 100px !important;
    height: 30px !important;
    border-radius: 20px !important;
    background-color: var(--background-color) !important;
    color: white !important;
}

@media only screen and (max-width: 1000px) {
    main {
        height: fit-content;
        padding-bottom: 20px;
    }

    .mainContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
}