

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: fit-content;
  
}

h1 {
    margin: 50px;
}

#mainContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainSection {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
    "one two three" "four five six" "seven eight nine" "ten eleven twelve" "thirteen fourteen fifthteen" "... sixteen ...";
    gap: 20px;
}

.box {
    text-align: left;
    border: var(--border);
    border-radius: 20px;
    padding: 20px;
   
}


#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#ten {
    grid-area: ten;
}
#eleven {
    grid-area: eleven;
}
#twelve {
    grid-area: twelve;
}
#thirteen {
    grid-area: thirteen;
}
#fourteen {
    grid-area: fourteen;
}
#fifthteen {
    grid-area: fifthteen;
}
#sixteen {
    grid-area: sixteen;
}

.imgBox img {
    width: 80%;
}
